*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f4dad9;
    max-width: 400px;
    margin: 0 auto;

}

h1{
    color: #a25133;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

input{
    border: 2px solid #a25133;
    border-radius: 5px;
}

button{
    border: none;
    border-radius: 5px;
    background-color: #a25133;
    color: white
    
}