*{
    margin: 0;
    padding: 0;
}

body{
    /*no-repeat é utilizado para que a imagem não se repita varias vezes*/
    background: url('../img/bg-site.jpg') no-repeat;
    /*cover, para que a imagem ocupe a tela toda*/
    background-size: cover;


}

.container{
    background-color: white;
    /*largura da tela*/
    max-width: 400px;
    /*centralizar*/
    margin: 0 auto;
    /*espaçamento dentro do elemento*/
    padding: 20px;
    text-align: center;
    border-radius: 15px;
}

.container h1{
    margin: 35px;
    color: #250381;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#tarefa{
    border: 2px solid #2185c7;
    color: rgb(105, 8, 129);
    outline: none;
    border-radius: 5px;
    width: 250px;
    padding: 10px;
}

#tarefa::placeholder{
    color: silver;
}

.btn-adicionar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    border-radius: 5px;
    width: 90px;
    padding: 10px;
    cursor: pointer;
    background-color: #081b6e;
    color: white
    
}

button:hover{
    background-color: #983ee2;
}

button:active{
    padding: 15px;
}

a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    color: #400d69;
    padding: 8px;

}

a:active{
    color: #983ee2;
}

ul{
    list-style-type: none;
    padding: 0;

}

li{
    background-color: #5f2712;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    color: white;

}