*{
    margin: 0;
    padding: 0;
}

body{
    background: url('../img/bg-site.jpg') no-repeat;
    background-size: cover;
}

.container{
    background: #fff;
    max-width: 1000px;
    margin: 0 auto;
}

.container h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 10px;
    color: rgb(88, 14, 158);
}

.container p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    margin: 8px;
   
}

.container h2{
    background-color: rgb(173, 181, 250);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 25px;
    padding: 10px;
    margin: 15px;
    color: rgb(4, 32, 107);
}

.container ul{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    list-style: none;
}

.container ol{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    padding: 8px;
    list-style: none;
}

.links a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    display: block;
    text-decoration: none;
    font-size: 22px;
    color: blueviolet;
    text-align: center;
}

.links a:hover{
    color: blue;
    text-decoration: underline;
}